body {
  background-color: black;
}

li {
  font-family: helvetica;
  font-size: 20px;
  color: white;
  list-style-type: none;
  position: relative;
  margin:1px;
  padding:1px;


}
h1 {
  color: white;
  text-align: center;
}

p {
  font-family: helvetica;
  font-size: 20px;
  color: white;
  align-self: auto;
}

a:link, a:visited {
    list-style-type: none;
  font-size: 35px;
  background-color: Transparent;
  color: white;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin:5px;
  padding:5px;


}

a:hover, a:active {
  background-color: Black; shape-inside: circle();


}
body {
  /* background-image: url('aboutpic.jpg'); */

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}




#top{
  width:90%;

  /* background-color: green; */


}

#left{
  width:10%;
  height:400px;
  /* background-color: green; */
  margin-top: 200px;
  float: left;
}

#center{
  width:80%;
  height:400px;
  /* background-color: red; */
  margin-top: 200px;
  float: left;
}

#right{
  width:10%;
  height:400px;
  /* background-color: blue; */
  margin-top: 200px;
  float: left;
  padding-top: 5px;
}
.limit{
    width:50px;
    word-wrap: break-word;
}
#bio{
  width:80%;
  height:250px;

  /* background-color: red; */
  margin-top: 225px;
  float: left;
  background: rgba(0, 0, 0, 0.5);





}
div.second {
  background: rgb(100, 170, 230, 0.3);
}

#spotify_soundcloud{
  width:80%;
  height:400px;
  /* background-color: red; */
  margin-top: 225px;
  float: left;


}
/*  */

#centervideo{
  width:80%;
  height:400px;
  /* background-color: red; */
  margin-top: 225px;
  float: left;
}

#spotify{
  margin-left: 300px;


}

#soundcloud{
  margin-right: 300px;
float: right;

}

body {font-family:Helvetica}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
#bio2{
  width:80%;
  height:250px;
  padding-left: 15%;
  padding-top: 5%;
  /* background-color: red; */
  margin-top: 225px;
  float: left;







}
